<h2>Add item</h2>

<div>
  <div class="add-item-row">
    <mat-form-field>
      <mat-label>Add a todo item</mat-label>
      <input matInput #itemTitle [(ngModel)]="newItem.title">
    </mat-form-field>
    <button mat-flat-button color="primary" [disabled]="itemTitle.value == ''"
            (click)="addItem();">
      add
    </button>
  </div>

  <!-- add details; show only íf user entered something as title -->
  <div *ngIf="itemTitle.value">
    <div class="add-item-row">
      <mat-form-field>
        <mat-label>Description</mat-label>
        <input matInput [(ngModel)]="newItem.description">
      </mat-form-field>
    </div>

    <div class="add-item-row">
      <mat-form-field>
        <mat-label>Due date</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="newItem.targetDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <button mat-icon-button [ngStyle]="{'opacity': newItem.important ? 'inherit': '30%'}"
              (click)="newItem.important = !newItem.important">
        <mat-icon matTooltip="Important" [matTooltipShowDelay]="500" [matTooltipHideDelay]="100"
                  fontSet="material-icons-round">priority_high</mat-icon>
      </button>
      <button mat-icon-button [ngStyle]="{'opacity': newItem.urgent ? 'inherit' : '30%'}"
              (click)="newItem.urgent = !newItem.urgent">
        <mat-icon matTooltip="Urgent" [matTooltipShowDelay]="500" [matTooltipHideDelay]="100"
                  fontSet="material-icons-round">notifications_active</mat-icon>
      </button>
    </div>
  </div>
</div>
