<h1 mat-dialog-title>Edit item</h1>

<mat-dialog-content>
  <div class="item-row">
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input matInput #itemTitle [(ngModel)]="data.title">
    </mat-form-field>
  </div>

  <div>
    <div class="item-row">
      <mat-form-field>
        <mat-label>Description</mat-label>
        <input matInput [(ngModel)]="data.description">
      </mat-form-field>
    </div>

    <div class="item-row">
      <mat-form-field>
        <mat-label>Due date</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="data.targetDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <button mat-icon-button [ngStyle]="{'opacity': data.important ? 'inherit': '50%'}"
              (click)="data.important = !data.important">
        <mat-icon matTooltip="Important" [matTooltipShowDelay]="500" [matTooltipHideDelay]="100"
                  fontSet="material-icons-round">priority_high</mat-icon> <!-- TODO fix/remove tooltip -->
      </button>
      <button mat-icon-button [ngStyle]="{'opacity': data.urgent ? 'inherit' : '50%'}"
              (click)="data.urgent = !data.urgent">
        <mat-icon matTooltip="Urgent" [matTooltipShowDelay]="500" [matTooltipHideDelay]="100"
                  fontSet="material-icons-round">notifications_active</mat-icon> <!-- TODO fix/remove tooltip -->
      </button>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close>cancel</button>
  <button mat-button color="primary" [mat-dialog-close]="data" [disabled]="itemTitle.value == ''">save</button>
</mat-dialog-actions>
