<h2>Up next</h2>

<div class="card-container">
  <mat-card *ngFor="let item of items">
    <!-- TODO refine layout -->
    <mat-card-header>
      <mat-card-title>{{item.title}}</mat-card-title>
      <mat-card-subtitle>
        due: {{currentDate | date: 'yyyy-MM-dd'}}
        <mat-icon *ngIf="item.important" fontSet="material-icons-round">priority_high</mat-icon>
        <mat-icon *ngIf="item.urgent" fontSet="material-icons-round">notifications_active</mat-icon>
        <mat-icon *ngIf="(item.targetDate | date: 'yyyy-MM-dd') === (currentDate | date: 'yyyy-MM-dd')"
                  fontSet="material-icons-round">hourglass_bottom</mat-icon>
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p>
        {{item.description}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>test</button>
    </mat-card-actions>
  </mat-card>
</div>
